html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    padding: 0;
    margin: 0;
}

.heading {
    display: flex;
    justify-content: center;
    font-size: 70px;
    height: auto;
    margin-top: 4rem;
    font-weight: 550;
    color: #B83F45;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-container {
    /* height: 40vh; */
    width: 50vw;
}

#tasks-data {
    height: 4rem;
    width: 95.9%;
    border: none;
    padding-left: 2rem;
    /* border: 4px solid #725AC1; */
}

#tasks-data {
    border: 2px solid #725AC1;
}

.tasks {
    /* height: 70%; */
    margin-top: 1rem;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    /* border-top: none; */
}

.items {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 90%;
    align-self: center;
}

.items i {
    cursor: pointer;
}

#tasks-data {
    font-size: 1.7rem;

}

#cross {
    /* display: none; */
    opacity: 0;
}

#cross:hover {
    color: red;
}

.items:hover {
    cursor: pointer;

}

.items:hover #cross {
    opacity: 1;
    transition: 0.2s ease-in-out;
}

.check {
    order: -1;
    height: 100%;
    width: 1.5rem;

}

p {
    width: 75%;
    height: 100%;
    padding-top: 1rem;
}


.task-details {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

button {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
}


button:active,
button:focus {
    color: white;
    background: #725AC1;
}

#tasks-data {
    border: 2px solid transparent;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
}

#tasks-data:hover,
#tasks-data:focus {
    border: 2px solid #725AC1;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}


@media screen and (max-width:1000px) {
    .task-details {

        flex-wrap: wrap;
        height: 17rem;
    }
}